@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900;&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #23242a;
    
}
.signin-box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;

}
.signin-box::before{
    content: '';
    position: absolute;
    top: -50%;
    left : -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #bb36f8,#bb36f8, #bb36f8);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.signin-box::after{
    content: '';
    position: absolute;
    top: -50%;
    left : -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #bb36f8,#bb36f8, #bb36f8);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine
{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left : -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770,#ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left : -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770,#ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}


@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.signin-box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;

}
.signin-box form h2{
    position: relative;
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    ;
}
.signin-box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 27px;
}
.signin-box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 10px 5px 5px;
    background: transparent;
    outline: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.signin-box form .inputbox span{
    position: absolute;
    left: 0;
    padding: 10px 0px 5px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.signin-box form .inputbox input:valid ~ span,
.signin-box form .inputbox input:focus ~ span{
    color: #fff;
    transform: translateY(-20px);
    font-size: 0.75em;
}
.signin-box form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    
    
}
.signin-box form .inputbox input:valid ~ i,
.signin-box form .inputbox input:focus ~ i{
    height: 44px;
}
.signin-box form .links{
    display: flex;
    justify-content: space-between;
}
.signin-box form .links a{
    color: #8f8f8f;
    margin-top: 10px;
    font-size: 0.9em;
    text-decoration: none;
    transition: 0.5s;
}
.signin-box form .links a:hover{
    color: #fff;
    text-decoration: underline;
}
.signin-box form input[type="submit"]{
    margin-top: 20px;
    padding: 9px 25px;
    width: 100px;
    background: #e12ee7;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.signin-box form input[type="submit"]:hover{
    background: #e12ee7;
}
.signin-box form input[type="submit"]:active{
    background: #cc77cf;
    
}